@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
    margin: 0;
}

nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 10vh;
}

#logo {
    font-size: 3rem;
    font-weight: bold;
}

main {
    height: 90vh;
    overflow-y: hidden;
    position: relative;
    box-sizing: border-box;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    object-fit: cover;
    width: 100%;
}

#hero {
    height: 100%;
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    align-items: flex-end; /* Centers content vertically */
}

#hero > div {
    color: white;
    padding: 0 1rem;
    max-width: 800px;
}

h1 {
    font-size: 5rem;
    margin: 1rem 0;
}

h2 {
    font-size: 3rem;
}

button {
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    &:hover {
        opacity: .5;
    }
}

section {
    border-bottom: 1px solid lightgrey;
    padding: 0 3rem;
}

.product-catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}

.product-catalogue > div {
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 200px;
    text-align: center;
    &:hover {
        border-color: dimgray;
    }
}

.product-image {
    margin: 1rem 0;
    width: 100%;
}

.split {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}

.split > div {
    width: 45%;
}

h3 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

a.email {
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.department {
    margin-bottom: 4rem;
}

footer {
    padding: 2rem;
    text-align: center;
}